This page defines the package requirements for our project.

Authors: Jaren Alexander, Yankun Chen, Brett Fox, Kevin Truong, Sam Windheim

Group Name: TournamentsEZ

Last Modified: 6/9/2023

Requirements:
Flask
gunicorn
db-sqlite3
