/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Align elements in a column */
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #03273B;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #032030;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}


/* Front Page Styles */
.tournament-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.tournament-card {
  background-color: #EDEDED;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  cursor: pointer;
}

/* Sign-Up Page Styles */
.signup-page {
  text-align: center;
  padding: 20px;
}

.signup-page h2 {
  color: #03273B;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-page label {
  font-weight: bold;
  margin-bottom: 10px;
}

.signup-page input[type="text"],
.signup-page input[type="email"],
.signup-page input[type="tel"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #03273B;
  margin-bottom: 10px;
}

.signup-page input[type="submit"] {
  background-color: #03273B;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Host Page Styles */
.host-page {
text-align: center;
padding: 20px;
}

.host-page h2 {
color: #03273B;
font-size: 24px;
margin-bottom: 20px;
}

.host-page form {
display: flex;
flex-direction: column;
align-items: center;
}

.host-page label {
font-weight: bold;
margin-bottom: 10px;
}

.host-page input[type="text"],
.host-page input[type="date"] {
width: 300px;
padding: 10px;
border-radius: 5px;
border: 1px solid #03273B;
margin-bottom: 10px;
}

.host-page input[type="submit"] {
background-color: #03273B;
color: #FFFFFF;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

/* Tournaments Page Styles */
#content {
display: flex;
align-items:first baseline;
justify-content: center;
height: 100vh;
}

.tournament-page {
text-align: center;
padding: 20px;
}

.tournament-page h2 {
color: #03273B;
font-size: 24px;
margin-bottom: 20px;
}

.tournament-page select {
width: 300px;
padding: 10px;
border-radius: 5px;
border: 1px solid #03273B;
margin-bottom: 10px;
}

.tournament-page button {
background-color: #03273B;
color: #FFFFFF;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}