<!DOCTYPE html>
<html>
  <head>
    <style>
      canvas {
        border: 1px solid black;
      }
    </style>
    <meta charset="UTF-8" />
    <title>TournamentsEZ - Bracket</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>TournamentsEZ</h1>
    </header>
    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('host') }}">Host</a>
      <a href="{{ url_for('tournament') }}">Tournaments</a>
      <a href="{{ url_for('signup') }}">Sign Up</a>
      <a href="{{ url_for('bracket') }}">Bracket</a>
    </nav>
    
      <form action="/bracket" method="POST">
        <label for="tournament_name">Select a Tournament:</label>
        <select name="tournament_name" id="tournament_name">
          {% for tournament in tournaments %}
          <option value="{{ tournament.name }}">{{ tournament.name }}</option>
          {% endfor %}
        </select>
        <button type="submit">Generate Bracket</button>
      </form>
    

    {% if selected_tournament %}
    <h2>Bracket for {{ selected_tournament }}</h2>
    {% for player in pl %}
       {{player}}
    {% endfor %}
    
    <canvas id="treeCanvas" width="1200" height="900"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.7.0/d3.min.js"></script>
    <script>
      
      var canvas = d3.select("#treeCanvas");
      var context = canvas.node().getContext("2d");

      function drawTree(playerNames, x, y, node1, level) {
        if (level >= playerNames.length) return;

        var radius = 30;
        var offsetX = 70;
        var height = 900;
        var numNodes = 2 ** (level + 2);
        var offsetY1 = height/numNodes;
        var nodeX = x + offsetX;
        var nodeY = y;

        context.beginPath();
        context.arc(nodeX, nodeY, radius, 0, 2 * Math.PI);
        context.fillStyle = "lightblue";
        context.fill();
        context.stroke();

        context.fillStyle = "black";
        context.textAlign = "center";
        context.textBaseline = "middle";
        context.fillText(playerNames[node1], nodeX, nodeY);

        drawTree(playerNames, nodeX, nodeY + offsetY1, 2 * node1 + 1, level + 1);
        drawTree(playerNames, nodeX, nodeY - offsetY1, 2 * node1 + 2, level + 1);
      }

      var playerNames = {{ pl | tojson }};
      drawTree(playerNames, canvas.node().width / 10, 450, 0, 0);
    </script>
    
    
    {% endif %}
  </body>
</html>
