<!-- header -->
<!DOCTYPE html>
<html>
  <head>
    <title>TournamentsEZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>TournamentsEZ</h1>
    </header>

    <nav>
      <a href="index.html">Home</a>
      <a href="host.html">Host</a>
      <a href="tournament.html">Tournaments</a>
      <a href="signup.html">Sign Up</a>
    </nav>

    <p>will eventually add popular tournament cards here</p>

    <!-- <div id="content">
       Front Page 
      <div id="home" class="tournament-grid">
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 1')">
          Tournament 1
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 2')">
          Tournament 2
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 3')">
          Tournament 3
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 4')">
          Tournament 4
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 5')">
          Tournament 5
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 6')">
          Tournament 6
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 7')">
          Tournament 7
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 8')">
          Tournament 8
        </div>
        <div class="tournament-card" onclick="redirectToSignUp('Tournament 9')">
          Tournament 9
        </div>
      </div>
    </div> -->

    <script src="script.js"></script>
  </body>
</html>
