<!-- header -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>TournamentsEZ - Tournaments</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>TournamentsEZ</h1>
    </header>

    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('host') }}">Host</a>
      <a href="{{ url_for('tournament') }}">Tournaments</a>
      <a href="{{ url_for('signup') }}">Sign Up</a>
      <a href="{{ url_for('bracket') }}">Bracket</a>
    </nav>

    <div id="content">
      <!-- Tournament Page -->
      <div id="tournament" class="tournament-page">
        <select id="tournamentSelect">
          <option disabled selected>Select a tournament</option>
          <!-- Add more tournament options here -->
        </select>
        <button onclick="tournRedirectToSignUp()">Sign Up</button>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
